
.sidebar{
    display:flex; 
   
  }
  .left__sidebar{
    width: 20%;
    background-color:whitesmoke;
    height: 750px;
  }
  .body{
    width: 80%;
    height: 750px;
  }

  .left__sidebar{
    width: 20%;
  }

